/* レイアウト全体の余白 */
.todo__content {
    max-width: 100%;
    margin: 0 auto;
    padding: ;
}

/* 成功メッセージ */
.alert-success {
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
    width: 100%;
    padding: 15px 40px;
    margin: 0 0 10px 0;
}

/* エラーメッセージ */
.alert-error {
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    width: 100%;
    padding: 15px 40px;
    margin: 0 0 10px 0;
}
.alert-error ul {
    margin: 0;
    padding-left: 20px;
}

/* 作成フォーム */
.todo-create {
    margin-bottom: 30px;
}

.create-form__input {
    width: 45%;
    padding: 15px;
    margin: 60px auto 40px 350px;
    border: 1px solid #ccc;
    border-radius: 2px solid #eee;
}
.btn-create {
    width: 10%;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    margin: 60px 0 0 80px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
}

/* テーブルスタイル */
.todo-table__inner {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

.todo-table__row {
    border-bottom: 1px solid #ccc;
}

.todo-table__header {
    text-align: left;
    font-size: 20px;
    padding-bottom: 10px;
}

.todo-table__item {
    width: 80%;
    padding: 20px 0;
}

.todo-table__button {
    width: 20%;
    padding: 10px 0;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    gap: 15px;
    align-items: center;
}

.update-form__input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

.todo-table__button--update,
.todo-table__button--delete {
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

.todo-table__button--update {
    background-color: #0000ff;
}

.todo-table__button--delete {
    background-color: #ff0000;
}
