
.todo__content {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
}

.todo__alert--success {
    width: 100%;
    background-color: #d1e7dd;
    color: #0f5132;
    padding: 15px 40px;
    margin: 0 0 20 0px;
    border-radius: 2px;
    width: 100%;
    text-align: left;
}

.todo__alert--danger {
    width: 100%;
    background-color: #f8d7da; /* 薄いピンク */
    border: 1px solid #f5c2c7; /* 薄い赤の枠線 */
    color: #842029;            /* 濃い赤色の文字 */
    padding: 15px 60px;
    margin: 0 0 20 0px;
    border-radius: 2px;
    width: 100%;
    text-align: left;
}

.todo__alert--danger ul {
    margin: 0;
    padding: 0px;
}

.section__title {
    font-size: 24px;
    margin: 40px 0 20px 0;
    font-weight: bold;
}

.create-form, .search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.create-form__item, .search-form__item {
    display: flex;
    width: 80%;
}

.create-form__item-input, .search-form__item-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 20px;
}

.create-form__item-select, .search-form__item-select {
    width: 25%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.create-form__button-submit, .search-form__button-submit {
    background-color: #000;
    color: #fff;
    padding: 10px 60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-table__inner {
    width: 100%;
    border-collapse: collapse;
}

.todo-table__header {
    text-align: left;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.todo-table__row {
    border-bottom: 1px solid #eee;
}

.todo-table__item {
    padding: 15px 0;
    vertical-align: middle;
}

.update-form__item-input {
    width: 100%;
    border: none;
    padding: 5px;
}


.todo-table__button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 10px;
}

.update-form__button-submit {
    background-color: #0000ff;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
}

.delete-form__button-submit {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
}
